@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "";
}
@for (int i = 0; i < ViewBag.MatchMedals.Count; i++)
{
    <div>
        <p>medal: @ViewBag.MatchMedals[i].name -- time: @ViewBag.MatchEvents[i].TimeSinceStart</p>
    </div>

} 
