@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "";
}
<h3>Game Medals for @ViewBag.GamerTag</h3>
<div class="gameMedals">
    <div class="medalDisplay">
        <p>Game Start</p>
        <p>>>></p>
    </div>
    @for (int i = 0; i < ViewBag.MatchMedals.Count; i++)
    {
        <div class="medalDisplay">
            @{ 
                string left = ViewBag.MatchMedals[i].spriteLocation.left + "px";
                string top = ViewBag.MatchMedals[i].spriteLocation.top + "px";
            }
            <img class="medal" id="medal-@i" style="background-position:left -@left top -@top" src="~/images/sprite.png" />
            <p>@ViewBag.MatchMedals[i].name @ViewBag.MatchEvents[i].TimeSinceStartDisplay</p>
        </div>
    } 
</div>
