@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "";
}
<h3>No medals earned in that game, or no game data available.</h3>
<h4>Game data might not be available for matches played before December 1, 2015.</h4>