@{
    ViewData["Title"] = "About";
}
<p>HaloClipFinder is intended to give Halo 5 players a quick reference to see exactly when they earned medals in their recent multiplayer matches. Ideally, players could then use that information to quickly and easily find that event in Halo 5's Theater mode in order to record a clip of that cool thing they did to earn the medal. Unfortunately, Theater mode does not display a clock or timeline that counts from the beginning of a match to the end.</p>
