@{
    ViewData["Title"] = "Contact";
}
<p>Please, do not attemt to contact anyone regarding this website.</p>
<p>If you absolutely must contact someone about this website, the author and creator of HaloClipFinder can be reached via email: bradcopenhaver at gmail dot com.</p>
