@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "";
}
<h3>Match Results</h3>
@for (var i = 0; i< ViewBag.CurrentTeams.Count; i++)
{
    <div>
        <h4>@ViewBag.CurrentTeams[i][0]</h4>
        <select class="player-list" id="team-@i">
            <option value=""> </option>
            @for (var j = 1; j < ViewBag.CurrentTeams[i].Count; j++)
            {
                <option value="@ViewBag.CurrentTeams[i][j]">@ViewBag.CurrentTeams[i][j]</option>
            }
        </select>
        
    </div>
}
<script>
    $(".player-list").change(function () {
        $("#matchEvents").html("<h3>Loading medals...</h3>");
        var selection = $(this).prop('selectedIndex');
        $.ajax({
            type: "POST",
            url: '/MatchEvents/GetMatchEvents/',
            data: {"gamertag": this.value },
            datatype: 'html',
            success: function (response) {
                $("#matchEvents").html(response);
            }
        });
        $(".player-list").prop('selectedIndex', 0);
        $(this).prop('selectedIndex', selection);
    })
</script>
